li.li-user-list-list {
  display: flex;
  justify-content: space-between;
  min-width: 10vw;
  gap: 5vw;
}
.user-list-component-button {
  height: 3h;
  width: 3vh;
  background-color: red;
  color: white;
}
