.blogSignature {
  position: relative;
  left: 2.5vw;
}
.blog-text-signature {
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
}
.blog-text-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
