.card-wrapper {
  display: flex;
  gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 5vh auto;
}
.card-wrapper.board-two {
  width: 80%;
  max-width: 280px;
}
.card-wrapper.board-four {
  width: 80%;
  max-width: 680px;
}
